.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background-color: #2c2c2c;
  color: #e4e4e4;
  margin: 0px;
}

body a {
  color: #e4e4e4;
  text-decoration: none;
}

.header-bg {
  background-color: #1b1b1b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.header-title {
  font-family: NEXT ART;
}

.header-title__main {
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
}

.header-title__secondary {
  margin: 0px;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}

.container {
  padding: 24px 12px 0px;
}

.menu {
  font-family: Arodora Pro;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.menu-list__item {
  padding-top: 15px;
  list-style-type: none;
}

.header-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-text__secondary {
  font-family: Arodora Pro;
  font-weight: 300;
  line-height: 21px;
}

.header-content__button {
  background-color: #e2a300;
}

.header-content__button:hover, .header-content__button:focus {
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
}

.button {
  font-family: NEXT ART;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.img {
  height: auto;
  width: 100%;
}

@media (min-width: 767px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-flex: 4;
        -ms-flex: 4 0 auto;
            flex: 4 0 auto;
  }
  .menu-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 7;
        -ms-flex: 7 0 auto;
            flex: 7 0 auto;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-title__main {
    font-size: 48px;
  }
  .header-title__secondary {
    font-size: 72px;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content__text {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2 0 430px;
            flex: 0.2 0 430px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .header-content__image {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .header-title__main {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
  }
  .header-title__secondary {
    margin: 0px;
    font-weight: bold;
    font-size: 72px;
    line-height: 82px;
  }
}

.home-bg {
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.about-item__sills {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  height: 150px;
  width: calc(25% - 30px);
  background: #2a2a2a;
  border-radius: 29px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border: none;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  font-family: Arodora Pro;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #e4e4e4;
  cursor: pointer;
}

.about-item__sills:hover, .about-item__sills:focus {
  background-color: rgba(0, 0, 0, 0.47);
}

.about-item__sills img {
  max-width: 75px;
  max-height: 75px;
}

.about-img {
  min-width: 200px;
  border-radius: 14px;
}

.main__text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  font-size: 48px;
  line-height: 54px;
}

.main__text-secondary {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.about-main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

.about-main__image {
  display: none;
}

.about-main__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0.2 350px;
          flex: 1 0.2 350px;
}

.about-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: NEXT ART;
  padding-left: 22px;
  font-size: 48px;
  line-height: 54px;
}

.about-main__secondary {
  font-family: Arodora Pro;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 767px) {
  .about-item__sills {
    max-width: 270px;
    height: 270px;
    font-size: 24px;
    line-height: 29px;
  }
  .about-img {
    min-width: 200px;
  }
  .about-main {
    margin: 150px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-main__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
  }
  .about-main__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer {
  font-family: Arodora Pro;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-menu__item {
  list-style-type: none;
  padding-top: 15px;
}

.contacts-links {
  margin: 18px 56px;
}

.footer-logo {
  text-align: center;
}

.footer-logo {
  text-align: center;
}

@media (min-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider {
  display: none;
}

.bg-slider {
  background-color: #1b1b1b;
  padding: 10px 0px 15px 0px;
}

@media (min-width: 767px) {
  .bg-slider {
    padding: 100px 0px 150px 0px;
  }
  .slider {
    display: block;
    text-align: center;
  }
  .title {
    font-family: NEXT ART;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
  }
  .swiper-slide {
    padding: 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-container {
    max-width: 970px;
  }
  .main-slider {
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    -webkit-box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
            box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
  }
  .main-slider__image {
    border-radius: 29px;
  }
  .main-slider__content {
    font-family: Arodora Pro;
    -webkit-box-flex: 0;
        -ms-flex: 0 0.5 300px;
            flex: 0 0.5 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
  .main-slider__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }
  .slider {
    position: relative;
  }
}
