.home {
  font-family: var(--secondary-font);
}

.home-header {
  margin: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4 0 auto;
          flex: 4 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header__text {
  margin: 0px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.home-header__menu {
  padding: 0px;
}

.menu__link {
  margin: 15px;
  font-size: 18px;
  line-height: 16px;
  list-style-type: none;
  color: #e4e4e4;
}

.gleb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-slogan {
  max-width: 450px;
}

.home-slogan__gleb img {
  width: 100%;
}

.slogan {
  width: auto;
}

.slogan__title {
  font-size: 25px;
  line-height: 54px;
}

.slogan__title h1 {
  font-weight: bold;
  font-size: 38px;
}

.slogan__text {
  font-size: 18px;
  line-height: 21px;
}

.button {
  background-color: #e2a300;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 27px;
  padding: 14px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
}

@media (min-width: 767px) {
  .home-header__logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 7;
        -ms-flex: 7 0 auto;
            flex: 7 0 auto;
  }
  .menu__link {
    margin: 5px;
    padding: 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .gleb {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slogan__title {
    font-size: 48px;
  }
}

main {
  font-family: var(--main-font);
}

.home-bg {
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.about {
  font-family: var(--main-font);
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.about-item__sills {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  height: 150px;
  width: calc(25% - 30px);
  background: #2a2a2a;
  border-radius: 29px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  border: none;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  font-family: var(--main-font);
  color: #e4e4e4;
  cursor: pointer;
}

.about-item__sills:hover, .about-item__sills:focus {
  background-color: rgba(0, 0, 0, 0.47);
}

.about-item__sills img {
  max-width: 75px;
  max-height: 75px;
}

.about-desc {
  padding-top: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-desc .about-main {
  margin: 30px 0px;
  text-align: center;
}

.about-desc .about-main .glebs-outline {
  max-width: 70%;
}

.about-desc .outline {
  border-radius: 14px;
}

@media (min-width: 767px) {
  .about-desc .about-item__sills {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    height: 270px;
    font-size: 24px;
    line-height: 29px;
  }
  .about-desc .secondary-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-desc .about-desc {
    height: 961px;
    background: url("../Image/About/Ellips.svg") 50% no-repeat;
  }
  .about-desc .about-desc__gleb2 {
    padding-top: 220px;
  }
  .about-desc .about-desc__gleb3 {
    width: 290px;
    height: 430px;
  }
  .about-desc .glebs-outline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.footer {
  position: static;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home-header {
  margin-top: 18px;
}

.footer-helper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.menu__link {
  margin: 18px;
}

.contacts-links {
  margin: 18px 56px;
}

.home-header__logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bg-slider {
  background-color: #1b1b1b;
  padding: 100px 0px 150px 0px;
}

.slider {
  text-align: center;
}

.swiper-slide {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container {
  max-width: 970px;
}

.main-slider {
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  -webkit-box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
          box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
}

.main-slider__image {
  border-radius: 29px;
}

.main-slider__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 300px;
          flex: 0 0.5 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.main-slider__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.slider {
  position: relative;
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  --main-font: "Arodora Pro";
  --secondary-font: "NEXT ART";
  background-color: #2C2C2C;
  color: #E4E4E4;
  font-family: var(--secondary-font);
  margin: 0px;
}

body a {
  color: #E4E4E4;
  text-decoration: none;
}
