.footer {
    position: static;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    flex: 1 1 auto;
}
.footer-menu {

}
.footer-helper{
    flex: 0 1 auto;
}
.menu {

		&__link {
            margin: 18px;
		}
}
.contacts-links{
    margin: 18px 56px;
}

@media (min-width: 767px) {
    .footer {
        display: flex;
        justify-content: space-between;
    }
}
