.footer {
    font-family: $font-main;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    flex: 1 1 auto;
}
.footer-menu {
    &__item {
        list-style-type: none;
        padding-top: 15px;
    }
}
.contacts-links {
    margin: 18px 56px;
}
.footer-logo {
    text-align: center;
}

.footer-logo{
    text-align: center;
}

@media (min-width: 767px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.footer-logo {
    align-self: center;
}
