.home {
  font-family: var(--secondary-font);
}
.home-header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__logo {
    display: flex;
    flex: 4 0 auto;
    align-items: center;
  }
  
  &__text {
    margin: 0px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
  }
  
  &__menu{
    padding: 0px;
  }
}
.menu {
  &__link {
    margin: 15px;
    font-size: 18px;
    line-height: 16px;
    list-style-type: none;
    color: #e4e4e4;
  }
}
.gleb {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.home-slogan {
  max-width: 450px;
  
  &__gleb img {
    width: 100%;
  }
}
.slogan {
  width: auto;
  &__title {
    font-size: 25px;
    line-height: 54px;
    h1 {
      font-weight: bold;
      font-size: 38px;
    }
  }
  
  &__text {
    font-size: 18px;
    line-height: 21px;
  }
}
.button {
  background-color: #e2a300;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 27px;
  padding: 14px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}


@media (min-width: 767px) {
  .home-header__logo{
    flex-direction: row;
  }

  .home-header {
    flex-direction: row;
    &__logo{
     
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      flex: 7 0 auto;
    }
    
  }
  .menu {
    &__link {
      margin: 5px;
      padding: 5px;
      flex: 0 1 auto;
    }
  }
  .gleb {
    flex-wrap: nowrap;
    text-align: left;
    justify-content: flex-start;
  }
  .slogan {
    &__title {
      font-size: 48px;
    }
  }
}