.home {
  font-family: var(--secondary-font);
  height: 100vh;
}
.home-header {
  padding: 0;
  display: flex;
  align-items: center;

  &__logo {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  &__text {
    margin: 0px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
  }

  &__menu {
    padding: 0px;
  }
}

.menu {
  &__link {
    margin: 15px;
    font-size: 18px;
    line-height: 16px;
    list-style-type: none;
    color: #e4e4e4;
  }
}
.gleb {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  height: 100vh;
}
.home-slogan {
  max-width: 450px;
  padding: 0px 15px;

  &__gleb {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
.slogan {
  width: auto;
  &__title {
    font-size: 25px;
    line-height: 54px;
    h1 {
      font-weight: bold;
      font-size: 38px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
  }
}
.button {
  background-color: #e2a300;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 27px;
  padding: 14px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }
}

@media (min-width: 767px) {
  .home-header {
    &__logo {
      flex-direction: row;
      flex: 4 0 auto;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      flex: 7 0 auto;
    }
  }
  .menu {
    &_icon {
      display: none;
    }
  }

  .menu {
    &__link {
      margin: 5px;
      padding: 5px;
      flex: 0 1 auto;
    }
  }
  .gleb {
    flex-wrap: nowrap;
    text-align: left;
    justify-content: flex-start;
  }

  .home-slogan {
    padding-top: 200px;
  }
  .slogan {
    &__title {
      font-size: 48px;
    }
  }

  .home-slogan {

		&__gleb {
      max-width: 632px;
      height: 674.47px;
		}
}

}

@media (max-width: 767px) {
  .menu {
    &_icon {

      z-index: 5;
      display: block;
      position: fixed;
      cursor: pointer;
      
    }
  } 
  
  .menu_body {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translate(-100%, 0px);
    background-color: #696664;
    transition: left 0.3s ease 0s;
  }
  .menu_body._active {
    transform: translate(0px, 0px);
  }
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(192, 25, 89);
  margin: 6px 0;
  transition: 0.4s;
}