.home-bg {
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}
.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  &__sills {
    flex-basis: 80%;
    height: 150px;
    width: calc(25% - 30px);
    background: #2a2a2a;
    border-radius: 29px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border: none;
    transition: background-color 100ms ease-in-out;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #e4e4e4;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.47);
    }
    img {
      max-width: 75px;
      max-height: 75px;
    }
  }
}

.about-img {
  min-width: 200px;
  border-radius: 14px;
}
.about-main {
  &__text {
  }
}
.main {
  &__text-title {
    display: flex;
    padding-left: 22px;
    font-size: 48px;
    line-height: 54px;
  }

  &__text-secondary {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
}

.about-main {
  text-align: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 30px 20px;

  &__image {
    display: none;
  }

  &__text {
    flex: 1 0.2 350px;
  }

  &__title {
    display: flex;
    font-family: $font-secondary;
    padding-left: 22px;
    font-size: 48px;
    line-height: 54px;
  }

  &__secondary {
    font-family: $font-main;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 767px) {
  .about-item {
    &__sills {
      max-width: 270px;
      height: 270px;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .about-img {
    min-width: 200px;
  }
  .about-main {
    margin: 150px;
    flex-wrap: nowrap;
    align-items: center;
    
    &__text {
      flex: 1 0 350px;
    }

    &__image {
      display: flex;
      height: 1000px;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
    }
  }
}
