main {
  font-family: var(--main-font);
}

.home-bg {
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.about {
  font-family: var(--main-font);
}
.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  &__sills {
    flex-basis: 80%;
    height: 150px;
    width: calc(25% - 30px);
    background: #2a2a2a;
    border-radius: 29px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border: none;
    transition: background-color 100ms ease-in-out;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    font-family: var(--main-font);
    color: #e4e4e4;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.47);
    }
    img {
      max-width: 75px;
      max-height: 75px;
    }
  }
}
.about-desc {
  padding-top: 120px;
  justify-content: center;
}

.about-main {
  padding: 30px 15px;
  text-align: center;
  display: flex;
  
  &__gleb {
  }

  .glebs-outline {
    max-width: 70%;
  }
}
.outline {
  border-radius: 14px;
}


@media (min-width: 767px) {
  .about-item {
    &__sills {
      max-width: 270px;
      height: 270px;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .secondary-content {
    display: flex;
  }
  .about-desc {
    height: 961px;

    &__gleb2 {
      padding-top: 220px;
    }
    &__gleb3 {
      width: 290px;
      height: 430px;
    }
    &__ellips {
      
    }
  }
  .glebs-outline {
    display: inline-flex;
    flex-flow: column wrap;
  }
}
