// .about {

// }
.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &__sills {
    flex-basis: 270px;
    height: 270px;
    width: calc(25% - 30px);
    background: #2a2a2a;
    border-radius: 29px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border: none;
    transition: background-color 100ms ease-in-out;
    font-size: 24px;
    line-height: 29px;
    color: #e4e4e4;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.47);
    }
    img {
      max-width: 75px;
      max-height: 75px;
    }
  }
}
.about-desc {
  padding-top: 400px;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 300px;
  height: 100px;

//   &__gleb1 {
//   }

//   &__gleb2 {
//   }

  &__text {
    align-self: stretch;
    flex: 0 1 100px;
    text-align: center;
    justify-content: center;
    width: 370px;
    height: 690px;
    font-size: 20px;
    line-height: 24px;
    background: #070707;
    border-radius: 14px;
  }

//   &__gleb3 {
//   }
}
// .glebs-outline {
// }
.outline {
  background: #2c2c2c;
  border-radius: 14px;
}
