@import "_header";
@import "_main";
@import "_footer";

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
}

body{
    
    --main-font: "Arodora Pro";
    --secondary-font: "NEXT ART";
    
    background-color: #2C2C2C;
    color: #E4E4E4;
    font-family: var(--secondary-font);
    
    
}
a {
    color: #E4E4E4;
    text-decoration: none;
}
